// fade animation

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.3s ease-out;
}

.fade-leave-active {
  transition: opacity 0.3s ease-in;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

// modal animation

@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

// list animation

@keyframes list-enter {
  from { 
    opacity: 0; 
    transform: translateY(-20px); 
  }

  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

@keyframes list-leave {
  from { 
    opacity: 1; 
    transform: translateY(0); 
  }

  to { 
    opacity: 0; 
    transform: translateY(-20px); 
  }
}